.landingPage {
  background: url('../assets/taylor-smith-FaU4g6Ojaow-unsplash.jpg');
  background: url('../assets/1104105.jpg');
  background: url('../assets/1103833.jpg') no-repeat;
  background-size: cover;
  background-position: left 2.2cm;
  height: 100vh;
}

#navbarNav {
  margin-left: -5.5rem;
}
